# Intermediate files
UIFramework/Debug/*
UIFramework/Release/*

WindowsTestApp/Debug/*
WindowsTestApp/Release/*
WindowsTestApp/WindowsTestApp/Debug/*
WindowsTestApp/WindowsTestApp/Release/*
WindowsTestApp/ipch/*

# Visual studio files
*.vcxproj.user
*.sdf
*.suo