# Intermediate files
UIFramework/Debug/*
UIFramework/Release/*

WindowsTestApp/Debug/*
WindowsTestApp/Release/*
WindowsTestApp/WindowsTestApp/Debug/*
WindowsTestApp/WindowsTestApp/Release/*
WindowsTestApp/ipch/*

UIFramework/External/freetype/objs/*

ipch/
Debug/
Release/

# Visual studio files
*.vcxproj.user
*.sdf
*.opensdf
*.suo

# Mac files
.DS_Store

# XCode files
xcuserdata/
project.xcworkspace/